<div class="top-bar">
  <div class="container">
    <img src="https://www.bnk48.com/static/img/logo-bnk48.png">
  </div>
</div>
<div class="container mt-4">
  <div class="row">
    <div class="col-4" *ngFor="let member of members">
      <div class="card mb-4 bnk-card" [routerLink]="['/instagram', member.instagramId]">
        <img class="card-img-top" [src]="member.imgUrl">
        <div class="card-body">
            <h5 class="card-title">{{ member.name }}</h5>
        </div>
      </div>
    </div>
  </div>
</div>
